html,body {
  height: 100%;
  box-sizing: border-box;
  font-family: "Roboto";
  font-size: 14px;
}

*, *:before, *:after {
  box-sizing:inherit;
}

body.homepage {
  background-image:url("bg.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}

.main {
  width:500px;
  margin:auto;
  position: relative;
  top:50%;
  transform: translateY(-50%);
}

.logo {
  font-size: 60px;
  color: #FFFFFF;
  margin-bottom: 10px;
  margin-top: 0px;
}

.tagline {
  font-size: 24px;
  color: #FFFFFF;
  margin-bottom: 10px;
}

.button {
  background-color: #2962FF;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #FFFFFF;
  color: #2962FF;
}

/*Chat page*/

.member_area {
  position: fixed;
  top:0;
  bottom:0;
  left:0;
  width: 30%;
  background: #191D12;
  color:#FFFFFF;
  overflow:auto;
}

.user_info {
  color: #D4D7DA;
  background: #252B33;
  padding: 15px;
}

.user_info {
  color:#D7D4DA;
  background: #252B33;
  padding: 15px;
}

.user_info .logout {
    cursor: pointer;
}

.user_info img {
  width:20px;
  height:20px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -1px;
}

.logout {
  float: right;
}

.message_area {
  background: #D3DAE2;
  position: fixed;
  left: 30%;
  top: 0;
  bottom: 0;
  width: 70%;
}

.chat_form {
  position: fixed;
  left:30%;
  bottom:0;
  width:70%;
  background: #FFFFFF;
  padding: 10px;
  box-shadow: 0px -2px 3px rgba(0, 0, 0, 0.1);
}

.chat_message {
  padding: 10px;
  border: solid 1px #EEEEEE;
  border-radius: 4px;
  display: block;
  width: 90%;
  float:left;
}

.send_button {
  float: right;
  width: 8%;
  color: #2962FF;
  border: solid 2px #2962FF;
  background-color: #FFFFFF;
}

.send_button:hover {
  background-color: #2962FF;
  color: #FFFFFF;
}

.empty_state {
  color: #97A6B9;
  max-width: 300px;
  margin: auto;
  top: 50%;
  position: relative;
  transform: 0;
}
